body {
    /*esto no hace practicamente nada */
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    position: sticky;
}

.slogan{
    display: flex;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.grid-layout {
    display: grid;
    gap: 10px; /* Espacio entre las imágenes */
    grid-template-columns: 1fr 1fr; /* Dos columnas: la primera ocupa 1/3, la segunda 2/3 */
    grid-template-rows: auto auto auto; 
    width: 95%;
    /* FUERA height: 30vh; */ /* Ajusta el ancho del contenedor según necesites */
    /*max-width: 1200px;  Máximo ancho del contenedor */
    opacity: 0.8; 
    margin-left: 20px;
    margin-right: -20px;
    
}

.grid-layout img {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 5%;
}

.grid-layout img.left-up {
    grid-column: 1;
    grid-row: 1;
}

.grid-layout img.right-up {
    grid-column: 2;
    grid-row: 1;
}

.grid-layout img.left-mid {
    grid-column: 1;
    grid-row: 2;
}

.grid-layout img.right-mid {
    grid-column: 2;
    grid-row: 2;
}

.grid-layout img.down {
    grid-column: 1 / -1; 
    grid-row: 3;
}