<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<div class="slogan">La salud organizada es salud mejorada</div>

    <div class="grid-layout">
        <img class="left-up" src="assets/up_left.png" alt="error de carga"/>
        <img class="right-up" src="assets/up_right.png" alt="error de carga"/>
        <img class="left-mid" src="assets/panoramic_yes.png" alt="error de carga"/>
        <img class="right-mid" src="assets/hospi4.jpg" alt="error de carga"/>
        <img class="down" src="assets/mid_left.png" alt="error de carga"/>
    </div>
</body>
</html>