<!DOCTYPE html>
<html>
  <head>
    <title>Emergencies</title>
  </head>
  <body>
    <mat-card-title>Sala de espera</mat-card-title>
    
    <div *ngIf="show" class="table-wrapper">
        <table>
        <thead>
          <tr>
            <th>
              Hospital
            </th>
            <th>
              Código Paciente
            </th>
            <th>
              Nombre
            </th>
            <th>
              Primer Apellido
            </th>
            <th>
              Segundo Apellido
            </th>
            <th>
              DNI
            </th>
            <th>
              CIP
            </th>
            <th>
              Teléfono
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients" class="clickable-row">
            <td>{{ getHospitalName(patient.hospital) }}</td>
            <td>{{ patient.patientCode }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.surname1 }}</td>
            <td>{{ patient.surname2 }}</td>
            <td>{{ patient.dni }}</td>
            <td>{{ patient.cip }}</td>
            <td>{{ patient.phone }}</td>
            <td>
              <button mat-button>
                Assignar
              </button>
            </td>
          </tr>
        </tbody>
        </table>
    </div>
    
  </body>
</html>
