<!DOCTYPE html>
<html>
  <head>
    <title>Emergencies</title>
  </head>
  <body>
    <mat-card-title>Sala de espera</mat-card-title>
    <div class="table-wrapper">
        <table>
        <thead>
          <tr>
            <th>Código Paciente</th>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>DNI</th>
            <th>Teléfono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients" class="clickable-row">
            <td>{{ patient.patientCode }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.surname1 }}</td>
            <td>{{ patient.dni }}</td>
            <td>{{ patient.phone }}</td>
            <td>
              <button mat-button (click)="assingPatient(patient.id)">Assignar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
