<!DOCTYPE html>
<html>
  <head>
    <title>Información Paciente</title>
  </head>

  <body>
    <form [formGroup]="patientForm">
      <label class="title">Información Paciente:</label>
      <div class="grid-layout">
        <br>
        <div class="form-col">
          <label for="patientCode">Código:</label>
          <input id="patientCode" type="text" placeholder="123456" readonly>
          
          <label for="hist-pat"></label>
          <a id="hist-pat" href="https://drive.google.com/file/d/1g2QnoNsQLzy-MFS6atwXQ9zSb_IfmP4e/view?usp=sharing" target="_blank">
            <span>Visualizar historia Clínica</span>
            <img class="pdflogo" src="assets/pdf_logo.png" alt="error de carga" width="30px" height="27px" />
          </a>

          <label for="name">Nombre:</label>
          <input id="name" formControlName="name" [readonly]="!isEditable">

          <label for="dni">DNI:</label>
          <input id="dni" formControlName="dni" [readonly]="!isEditable">

          <label for="surname1">Apellido 1:</label>
          <input id="surname1" formControlName="surname1" [readonly]="!isEditable">

          <label for="cip">CIP:</label>
          <input id="cip" formControlName="cip" [readonly]="!isEditable">

          <label for="surname2">Apellido 2:</label>
          <input id="surname2" formControlName="surname2" [readonly]="!isEditable">

          <label for="email">E-mail:</label>
          <!--modificar en a del email-->
          <a href="mailto:julo90@gmail.com"><span>julo90&#64;gmail.com</span></a>

          <label for="gender">Sexo:</label>
          <select id="gender" formControlName="gender" >
            <option value="man">Hombre</option>
            <option value="woman">Mujer</option>
          </select>

          <label for="phone">Teléfono:</label>
          <input id="phone" formControlName="phone" [readonly]="!isEditable">

          <label for="birth">F. Nacimiento:</label>
          <input id="birth" formControlName="birth" type="date">

          <label for="emergencycontact">C. Emergencia:</label>
          <input id="emergencycontact" formControlName="emergencyContact" [readonly]="!isEditable">

          <label for="nationality">Nacionalidad:</label>
          <select id="nationality" name="country" formControlName="country" [(ngModel)]="patient.country">
            <option value="" disabled>Select Country</option>
            <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
          </select>

          <label for="address">Dirección:</label>
          <input id="address" type="text" placeholder="C. Fluvià 65, 4, 08002, Barcelona">
        </div>
      </div>
      <br>
      <div class="formButtons">
        <input class="submit" type="submit" value="EDITAR" />
      </div>
    </form>
  </body>
</html>
