<!DOCTYPE html>
<html>
  <head>
    <title>Información Paciente</title>
  </head>

  <body>
    <form [formGroup]="patientForm">
      <label class="title">Información Paciente:</label>
      <div class="grid-layout">
        <br>
        <div class="form-col">
          <label for="patientCode">Código:</label>
          <input id="patientCode" type="text" placeholder="123456" readonly>
          <label for="hist-pat"></label>
          <a id="hist-pat" href="https://drive.google.com/file/d/1g2QnoNsQLzy-MFS6atwXQ9zSb_IfmP4e/view?usp=sharing" target="_blank">
            <span>Visualizar historia Clínica</span>
            <img class="pdflogo" src="assets/pdf_logo.png" alt="error de carga" width="30px" height="27px" />
          </a>
          <label for="name">Nombre:</label>
          <input id="name" formControlName="name" type="text" placeholder="Juan">
          <label for="dni">DNI:</label>
          <input id="dni" formControlName="dni" type="text" placeholder="00000000B">
          <label for="surname1">Apellido 1:</label>
          <input id="surname1" formControlName="surname1" type="text" placeholder="Martínez">
          <label for="cip">CIP:</label>
          <input id="cip" formControlName="cip" type="text" placeholder="LOMA 00000002">
          <label for="surname2">Apellido 2:</label>
          <input id="surname2" formControlName="surname2" type="text" placeholder="López">
          <label for="email">E-mail:</label>
          <!--modificar en a del email-->
          <a href="mailto:julo90@gmail.com"><span>julo90&#64;gmail.com</span></a>
          <label for="gender">Sexo:</label>
          <p id="gender">Masculino</p>
          <label for="phone">Teléfono:</label>
          <p id="phone">631238791</p>
          <label for="birth">F. Nacimiento:</label>
          <p id="birth">12/03/1990</p>
          <label for="emergencycontact">C. Emergencia:</label>
          <p id="emergencycontact">999999999</p>
          <label for="nationality">Nacionalidad:</label>
          <p id="nationality">España</p>
          <label for="address">Dirección:</label>
          <p id="address">C. Fluvià 65, 4, 08002, Barcelona</p>
        </div>
      </div>
      <br>
      <div class="formButtons">
        <input class="submit" type="submit" value="EDITAR" />
      </div>
    </form>
  </body>
</html>
