<div class="edit-calendar-container">
  <h2 class="title" mat-dialog-title>{{ title }}</h2>

  <form [formGroup]="editForm" (ngSubmit)="onFormSubmit()" class="edit-form">
    <!-- Date Picker -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" type="date"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Doctor Dropdown -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Doctor</mat-label>
      <mat-select formControlName="doctorId">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
          {{ doctor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hora de la cita:</mat-label>
      <input matInput type="time" formControlName="time" required />
      <mat-error *ngIf="editForm.get('time')?.hasError('required')">
        La hora de la cita es obligatoria.
      </mat-error>
    </mat-form-field>


    <!-- Form Actions -->
    <div class="form-actions">
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">Guardar</button>
    </div>
  </form>
</div>
