html{
  margin-left: 6.7%;
}
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

/* Estilos del encabezado */
.header {
  color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#titleBed {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Botón de crear cama */
.create-bed-button {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.create-bed-button:hover {
  background-color: #45a049; /* Verde más oscuro */
}

/* Estilos de la tabla */
.table-wrapper {
  margin-top: 20px;
  background-color: #2a2a2a;
  border-radius: 8px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  background-color: #333;
  color: #ffffff;
}

tbody tr:hover {
  background-color: #444;
}

/* Mensaje cuando no hay camas */
.no-beds-message {
  text-align: center;
  padding: 20px;
}

/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 400px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.modal h2 {
  margin-top: 0;
  color: #333; /* Color del texto del encabezado */
}

.modal label {
  display: block;
  margin-top: 10px;
  color: #333; /* Color del texto de las etiquetas */
}

.modal input, .modal select {
  width: calc(100% - 20px); /* Ajusta el ancho restando el padding */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  background-color: #f9f9f9; /* Fondo gris claro */
  color: #333; /* Color del texto */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.modal button {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #45a049; /* Verde más oscuro */
}

