<head>
    <title>Gestión de camas</title>
</head>

<body>
    <legend>{{ title }} {{ roomId }}</legend>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Núm.</th>
            <th>Disponibilidad</th>
            <th>Paciente</th>
            <th>Código Paciente</th>
            <th>Ficha</th>
            <th>Gestionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bed of beds" class="file-click">
            <td>{{ bed.BedCode }}</td>
            <td>{{ bed.Availability ? 'Sí' : 'No' }}</td>
            <!-- <td>{{ bed.atient?.name }} {{ bed.patient?.surname1 }}</td> -->
            <!-- <td>{{ bed.patient?.id }}</td> -->
            <td>botón ficha</td>
            <td>botón gestión pte</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>