.content {
  font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol";
  overflow: hidden;
}

legend {
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0px;
  line-height: 31px;
  white-space: pre-line;
  font-weight: bold;
  padding-bottom: 2%;
}

body {
  margin-left: 125px;
  margin-top: 120px;
}

.table-wrapper {
  width: 100%;
  height: auto;
  margin-left: 15px;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.table-wrapper table {
  border-collapse: collapse;
}

.table-wrapper table thead {
  position: -webkit-sticky; /* Safari... */
  position: sticky;
  top: 0;
  left: 0;
}

thead {
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffffff;
}

td {
  text-align: center;
  height: 50px;
  width: 200px;
}

td button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  content {
    display: flex;
    flex-wrap: wrap;
  }
  body {
    margin: 0px;
  }
  .table-wrapper {
    width: 99vw;
  }
}
th,
td {
  padding: 0 15px;
}
