<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de camas</title>
  </head>

  <body>
    <legend id="titleBed">{{ title }} {{ room.roomNumber }}</legend>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th class="inTableBed">Núm.</th>
            <th class="inTableBed">Disponibilidad</th>
            <th class="inTableBed">Paciente</th>
            <th class="inTableBed">Código Paciente</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bed of beds" class="file-click">
              <td>{{ bed.bedCode }}</td>
              <td>{{ bed.availability ? "Sí" : "No" }}</td>
              <!-- els registres de llits pot apareixer sense pacient, ja que es la llista de llits d'una habitació -->
              <td>{{ getPatientByBedId(bed.id)?.name || 'Sin paciente' }} {{ getPatientByBedId(bed.id)?.surname1 || '' }}</td>
              <td>{{ getPatientByBedId(bed.id)?.patientCode || 'N/A' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
