<div class="create-appointment">
  <form [formGroup]="appointmentForm" (ngSubmit)="onFormSubmit()">
    <mat-card-title>{{ "Pedir Cita" }}</mat-card-title>
    <!-- Selector de médico -->

    <app-doctor-select id="doctor" formControlName = "doctorId" [(ngModel)]="doctor"></app-doctor-select>

    <!-- Selector de paciente -->
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar Paciente</mat-label>
      <mat-select formControlName="patientId">
        <mat-option *ngFor="let patient of patients" [value]="patient.id">
          {{ patient.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('patientId')?.invalid">
        Has de seleccionar un paciente
      </mat-error>
    </mat-form-field>

    <!-- Fecha de la cita -->
    <mat-form-field appearance="outline">
      <mat-label>Fecha de la Cita</mat-label>
      <input matInput formControlName="appointmentDate" type="date" />
      <mat-error *ngIf="appointmentForm.get('appointmentDate')?.hasError('required')">
        La fecha de la cita es obligatoria.
      </mat-error>
      <mat-error *ngIf="appointmentForm.get('appointmentDate')?.hasError('notFutureDate')">
        La fecha de la cita no puede ser pasada
      </mat-error>
    </mat-form-field>

    <!-- Selector de hora -->
    <mat-form-field  appearance="outline">
      <mat-label>Hora de la Cita</mat-label>
      <input id="hora" matInput [ngxTimepicker]="picker" readonly formControlName="appointmentTime" />
      <ngx-material-timepicker #picker style="margin-top:100px" timepickerTheme="custom-timepicker"></ngx-material-timepicker>
      <mat-error *ngIf="appointmentForm.get('appointmentTime')?.hasError('required')">
        La hora de la cita es obligatoria.
      </mat-error>
    </mat-form-field>

    <!-- Razón de la cita -->
    <mat-form-field style="padding-top: 0px; padding-bottom: 0px;" id="reason" appearance="outline">
      <mat-label style="padding-top: 0px; padding-bottom: 0px;" >Razón de la Cita</mat-label>
      <textarea style="padding-top: 0px; padding-bottom: 0px;"  matInput formControlName="reason" placeholder="Razón de la cita (opcional)"></textarea>
      <mat-hint style="padding-top: 0px; padding-bottom: 0px;"  align="end">
        {{ appointmentForm.get('reason')?.value?.length || 0 }}/250
      </mat-hint>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!appointmentForm.valid">
        Crear Cita
      </button>
      <button mat-button color="primary" routerLink="/appointments">Cancelar</button>
    </div>
  </form>
</div>
