<!DOCTYPE html>
<html>
  <head>
    <title>Asignar habitación</title>

    <link rel="stylesheet" href="assignroom.component.css" />
  </head>

  <body>
    <div id="hero">
      
      <legend>Camas</legend>
        <table id="grided">
          <thead>
            <tr>
              <th>Code</th>
              <th>Disponibilidad</th>
              <th>Paciente</th>
              <th>Código Paciente</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bed of beds">
              <td>{{ bed.bedCode }}</td>
              <td>{{ bed.availability ? "Sí" : "No" }}</td>
              <td>
                {{ getPatientByBedId(bed.id)?.name || "Sin paciente" }}
                {{ getPatientByBedId(bed.id)?.surname1 || "" }}
              </td>
              <td>{{ getPatientByBedId(bed.id)?.patientCode || "N/A" }}</td>
              <td>
                <button class="buttonCSS" id="assignar">
                  ASIGNAR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>
