<!DOCTYPE html>
<html>
  <head>
    <title>Asignar habitación</title>
    <link rel="stylesheet" href="assignroom.component.css" />
  </head>
  <body>
    <div id="hero">
      <legend>Camas</legend>
      <table id="grided">
        <thead>
          <tr>
            <th>Code</th>
            <th>Disponibilidad</th>
            <th>Paciente</th>
            <th>Código Paciente</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let bed of beds"
            [ngClass]="{'available-bed': bed.availability}"
          >
            <td>{{ bed.bedCode }}</td>
            <td>{{ bed.availability ? "Sí" : "No" }}</td>
            <td>
              {{ (getPatientByBedId(bed.id) | async)?.name || "Sin paciente" }}
              {{ (getPatientByBedId(bed.id) | async)?.surname1 || "" }}
            </td>
            <td>
              {{ (getPatientByBedId(bed.id) | async)?.patientCode || "N/A" }}
            </td>
            <td>
              <button
                class="buttonCSS"
                (click)="assignBed(bed.id)"
                [disabled]="!bed.availability"
              >
                Asignar
              </button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </body>
</html>
