<!DOCTYPE html>
<html>
  <head>
    <title>Asignar habitación</title>

    <link rel="stylesheet" href="assignroom.component.css" />
  </head>

  <body>
    <div id="hero">
      <div id="grided">
        <legend>Camas</legend>
        <mat-card *ngFor="let bed of beds" class="card" appearance="outlined">
          <mat-card-header>
            <mat-card-title class="tituloMenu"
              >{{ title }}: {{ bed.bedCode }}</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <div class="objectFit">
              <p class="tituloMenu">Disponibilidad:</p>
              <p>
                {{ bed.availability ? "Libre" : "Ocupada" }}
              </p>
            </div>
            <div class="objectFit">
              <p class="tituloMenu">Paciente:</p>
              <p>
                {{ getPatientByBedId(bed.id)?.name || "-" }}
                {{ getPatientByBedId(bed.id)?.surname1 || "" }}
              </p>
            </div>
            <div class="objectFit">
              <p class="tituloMenu">Codigo paciente:</p>
              <p>
                {{ getPatientByBedId(bed.id)?.patientCode || "-" }}
              </p>
            </div>
            <button (click)="assignBed(bed.id)" [disabled]="thisIsDisabled" class="buttonCSS" id="assignar">ASIGNAR</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </body>
</html>
