<div class="content">
  <form [formGroup]="manageForm">
    <mat-card-title>{{ "Gestionar Citas" }}</mat-card-title>
    <mat-card-content>
      <!-- Filtro por nombre del paciente -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre del paciente:</mat-label>
        <input matInput type="text" formControlName="patientName" />
      </mat-form-field>

      <!-- Filtro por nombre del médico -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre del médico:</mat-label>
        <input matInput type="text" formControlName="doctorName" />
      </mat-form-field>

      <!-- Filtro por fecha -->
      <mat-form-field appearance="outline">
        <mat-label>Fecha de la cita:</mat-label>
        <input matInput type="date" formControlName="date" />
      </mat-form-field>

      <button mat-button type="button" (click)="searchAppointments()">Buscar</button>
      <button mat-button type="reset" (click)="resetForm()">Reiniciar</button>
    </mat-card-content>
  </form>

  <div class="table-wrapper" *ngIf="appointments.length > 0">
    <table>
      <thead>
        <tr>
          <th (click)="sortData('appointmentDate')">Fecha</th>
          <th (click)="sortData('patientName')">Paciente</th>
          <th (click)="sortData('doctorName')">Médico</th>
          <th>Motivo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of filteredAppointments">
          <td>{{ appointment.appointmentDate }}</td>
          <td>{{ appointment.patientName }}</td>
          <td>{{ appointment.doctorName }}</td>
          <td>{{ appointment.reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appointments.length === 0">
    <p>No hay citas disponibles.</p>
  </div>
</div>
