<div class="content">
  <form id="formFlex" [formGroup]="manageForm">
    <mat-card-title>{{ "Gestionar Citas" }}</mat-card-title>
    <mat-card-content id="formGrid">
      <!-- Filtro por nombre del paciente -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre del paciente:</mat-label>
        <input matInput type="text" formControlName="patientName" />
      </mat-form-field>

      <!-- Filtro por nombre del médico -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre del médico:</mat-label>
        <input matInput type="text" formControlName="doctorName" />
      </mat-form-field>

      <!-- Filtro por fecha -->
      <mat-form-field appearance="outline">
        <mat-label>Fecha de la cita:</mat-label>
        <input matInput type="date" formControlName="date" />
      </mat-form-field>
      <div class="control">
        <button mat-button type="button" class="buttonPP" (click)="searchAppointments()">Buscar</button>
        <button mat-button type="reset" class="buttonPP" (click)="resetForm()">Reiniciar</button>
      </div>
    </mat-card-content>
  </form>

  <hr size="3px" color="black" style="width: 100vw" />
  <div class="table-wrapper" *ngIf="appointments.length > 0">
    <table>
      <thead>
        <tr>
          <th (click)="sortData('patientName')">Paciente</th>
          <th (click)="sortData('doctorName')">Medico</th>
          <th (click)="sortData('appointmentDate')">Fecha</th>
          <th>Motivo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of filteredAppointments">
          <td>
            {{ appointment.patientId | idToString : patients }}</td>
          <td>{{ appointment.doctorId | idToString : doctors }}</td>
          <td>{{ appointment.appointmentDate.toString().split("T")[0] }}</td>
          <td>{{ appointment.reason }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="no-appointments" *ngIf="appointments.length === 0">
    <p>No hay citas disponibles.</p>
  </div>
</div>
