<head>
    <title>Búsqueda Trabajadores</title>
    <link rel="stylesheet" href="search.component.css" />
  </head>
  <div class="content">
    <div class="top">

      <form [formGroup]="workerForm">
        <div id="hospiEspacio">
          <mat-card-title> {{ title }}</mat-card-title>
          <mat-form-field id="right" appearance="outline">
            <mat-label>Hospital:</mat-label>
            <mat-select formControlName="hospital" multiple>
              <mat-option disabled>Seleccione uno o varios hospitales</mat-option>
              <mat-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalCode">
                {{ hospital.hospitalName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-card-content>
          <div class="credentials">


            <mat-form-field appearance="outline">
              <mat-label for="workerCode">Código trabajador:</mat-label>
              <input matInput type="text" id="workerCode" formControlName="workerCode" />
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label for="name">Nombre:</mat-label>
              <input matInput type="text" id="name" formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label for="surname1">Apellido 1:</mat-label>
              <input matInput type="text" id="surname1" formControlName="surname1" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label for="surname2">Apellido 2:</mat-label>
              <input matInput type="text" id="surname2" formControlName="surname2" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label for="dni">DNI/NIE:</mat-label>
              <input matInput type="text" id="dni" formControlName="dni" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label for="worktype">Rol:</mat-label>
              <input matInput type="text" id="numSS" formControlName="worktype" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label for="phone" class="telf">Teléfono:</mat-label>
              <input matInput type="text" id="phone" formControlName="phone" />
            </mat-form-field>

            <mat-form-field id="right" appearance="outline">
              <mat-label>Hospital:</mat-label>
              <mat-select formControlName="hospital" multiple>
                <mat-option disabled>Seleccione uno o varios hospitales</mat-option>
                <mat-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalCode">
                  {{ hospital.hospitalName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
            <mat-label>Especialidad:</mat-label>
            <mat-select formControlName="speciality">
              <mat-option *ngFor="let speciality of getSpecialities()" [value]="speciality">
                {{ speciality }}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <!--
            <mat-form-field appearance="outline">
              <mat-label for="status">Estado: </mat-label>
              <mat-select
                id="status"
                name="status"
                formControlName="status"
                *ngIf="showSelect"
              >
                <mat-option value="" disabled selected
                  >Seleccione un estado</mat-option
                >
                <mat-option
                  *ngFor="let status of workerStatus"
                  [value]="status.value"
                >
                  {{ status.value | enumToString : "HOSPITAL_ZONE" }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            -->
          </div>
        </mat-card-content>
        <button mat-button type="submit" (click)="onSubmit()" (click)="toggleDisplay()">
          Buscar
        </button>
        <button mat-button type="reset" (click)="resetForm()">Reiniciar</button>
      </form>

      <hr size="3px" color="black" style="width: 100vw" />

      <app-spinner *ngIf="isLoading">
      </app-spinner>

      <div [style.display]="isVisible ? 'block' : 'none'" *ngIf="filteredworkers.length <= 0 && !isLoading">
        <legend style="margin-left: 3%">Trabajador no encontrado</legend>
      </div>

      <div class="table-wrapper" [style.display]="isVisible ? 'grid' : 'none'"
        *ngIf="!isLoading && filteredworkers.length > 0">
        <table>
          <thead>
            <tr>
              <th (click)="sortData('hospital')">
                Hospital
                <span *ngIf="sortField === 'hospital'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>
              <th (click)="sortData('workerCode')">
                Código Trabajador
                <span *ngIf="sortField === 'workerCode'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>
              <th (click)="sortData('name')">
                Nombre
                <span *ngIf="sortField === 'name'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>
              <th (click)="sortData('surname1')">
                Primer Apellido
                <span *ngIf="sortField === 'surname1'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>
              <th (click)="sortData('dni')">
                DNI
                <span *ngIf="sortField === 'dni'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>
              <th (click)="sortData('phone')">
                Teléfono
                <span *ngIf="sortField === 'phone'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>
              <th (click)="sortData('username')">
                Username
                <span *ngIf="sortField === 'username'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>

              <th (click)="sortData('worktype')">
                Rol
                <span *ngIf="sortField === 'worktype'">
                  <span *ngIf="sortDirection === 'asc'">&#9650;</span>
                  <span *ngIf="sortDirection === 'desc'">&#9660;</span>
                </span>
              </th>

            </tr>
<!--(click)="goToManage(worker.id)" -->
          </thead>
          <tbody>
            <tr *ngFor="let worker of filteredworkers" class="clickable-row">
              <td>{{ getHospitalName(worker.hospital) }}</td>
              <td>{{ worker.workerCode }}</td>
              <td>{{ worker.name }}</td>
              <td>{{ worker.surname1 }}</td>
              <td>{{ worker.dni }}</td>
              <td>{{ worker.phone }}</td>
              <td>{{ worker.username }}</td>
              <td>{{ worker.worktype }}</td>

              <td (click)="$event.stopPropagation()">
                <button appHasRole="delete_worker" mat-button (click)="deleteworker(worker)">
                  Eliminar
                </button>
              </td>
            </tr>

          </tbody>
        </table>

        <div class="pagination-container" *ngIf="totalPages > 1">
          <!-- Botón de flecha izquierda (anterior) -->
          <button class="prev" (click)="prevPage()" [disabled]="currentPage === 1">
            &laquo;
          </button>

          <!-- Números de página centrados -->
          <div class="pagination">
            <button (click)="goToPage(page)" *ngFor="let page of pageNumbers" [class.active]="page === currentPage"
              [disabled]="page === -1">
              <ng-container *ngIf="page === -1">...</ng-container>
              <ng-container *ngIf="page !== -1">{{ page }}</ng-container>
            </button>
          </div>

          <!-- Botón de flecha derecha (siguiente) -->
          <button class="next" (click)="nextPage()" [disabled]="currentPage === totalPages">
            &raquo;
          </button>
        </div>
      </div>
    </div>
  </div>
