html{
  margin-left: 6.7%;
}
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Estilos del encabezado */
.header {
  color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#titleBed {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Botón de crear cama */
.create-bed-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(76, 217, 100);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  border: 0px;
  margin-right: 20px;
}
.create-bed-button:hover {
  background-color: #45a049; /* Verde más oscuro */
}
#botonesCenter{
  display: flex;
  justify-content: center;
  border-left: white;
  
  border-right: white;
  
  border-bottom: white;
}
/* Estilos de la tabla */
form {
  padding-top: 3%;
  padding-bottom: 10px;
}
input {
  margin-left: 4%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.table-wrapper {
  padding-left: 4%;
  width: 80vw;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: -10px;
}
.table-wrapper input[readonly] {
  background-color: #f0f0f0;
  color: #963333;
  border: 1px solid #ccc;
  font-style: italic;
  border-radius: 2px;
}
legend {
  margin: 0px;
  overflow: hidden;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0px;
  line-height: 31px;
  white-space: pre-line;
  font-weight: bold;
  padding-bottom: 2%;
  margin-bottom: 20px;

  padding-left: 4%;
}
select {
  padding-left: 4%;
  padding: 5px;
  width: 220px;
}
table {
  padding-left: 4%;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #ccc;
}
th,
td {
  padding: 10px;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
#eliminarCSS{
  margin-left:15px;
}
.buttonCSS {
  padding-left: 4%;
  background-color: #333;
  color: white;
  border: none;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  text-transform: uppercase;
}
.modal input{
  margin-left: 0px;
  margin-bottom:10px;
}
/* Mensaje cuando no hay camas */
.no-beds-message {
  text-align: center;
  padding: 20px;
}

/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
#availability{
  margin: 0;
  width: auto;
  align-self: end;
  display: flex;
  margin-left: 10px;
  margin-bottom: 5px;
}
#horizontal{
  display: flex;
  flex-direction: row;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 400px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
.modal form {
  padding-top: 0%;
}
.modal h2 {
  margin-top: 0;
  color: #333; /* Color del texto del encabezado */
}

.modal label {
  display: block;
  margin-top: 10px;
  color: #333; /* Color del texto de las etiquetas */
}

.modal input, .modal select {
  width: 100%; /* Ajusta el ancho restando el padding */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  background-color: #f9f9f9; /* Fondo gris claro */
  color: #333; /* Color del texto */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.modal button {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}

.modal button:hover {
  background-color: #45a049; /* Verde más oscuro */
}
@media screen and (max-width: 768px){
  .table-wrapper{
    overflow: scroll;
  }
}
.modal button:disabled {
  background-color: #000000; /* Gris para indicar deshabilitado */
  color: #000000; /* Texto gris */
  cursor: not-allowed; /* Cambia el cursor para indicar que no está disponible */

}
