<!DOCTYPE html>
<html>

<head>
  <title>Crear habitación</title>
</head>

<body>
  <form [formGroup]="addRoomForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card-title> {{ title }}</mat-card-title>
    <mat-card-content>
      <div class="form-row">
        <!-- Número de habitación -->

        <mat-form-field appearance="outline">

          <mat-label for="roomNumber">Núm. Hab.</mat-label>
          <input matInput id="roomNumber" type="number" formControlName="roomNumber" (input)="firstNumToFloor()"
            required />

          <mat-error *ngIf="addRoomForm.get('roomNumber')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>

          <mat-error
            *ngIf="addRoomForm.get('roomNumber')?.hasError('roomExists') && addRoomForm.get('roomNumber')?.touched">
            Este número de habitación ya existe.
          </mat-error>

        </mat-form-field>

        <!-- Capacidad -->
        <mat-form-field appearance="outline">
          <mat-label for="capacity">Capacidad</mat-label>
          <input matInput id="capacity" formControlName="capacity" type="number" required />
          <mat-error *ngIf="addRoomForm.get('capacity')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <!-- Zona 
        <mat-form-field appearance="outline" *ngIf="showSelect">
          <mat-label for="zone">Zona</mat-label>
          <mat-select id="zone" formControlName="zone"  (selectionChange)="onZoneChange($event.value)">
            <mat-option disabled selected>Seleccione una zona</mat-option>
            <mat-option *ngFor="let zone of hospitalZones" [value]="zone.value">
              {{ zone.value | enumToString: "HOSPITAL_ZONE" }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addRoomForm.get('zone')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
        -->
        
        <!-- Area 
        <mat-form-field appearance="outline">
          <mat-label for="area">Area</mat-label>
          <mat-select id="area" name="area" formControlName="area">
            <mat-option *ngFor="let area of currentArea" [value]="area.value">
              {{ area.value | enumToString : currentAreaType }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addRoomForm.get('area')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
        -->

        <app-select-pipe
          [form]="addRoomForm"
          [showError]="false">
        </app-select-pipe>

      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="addRoomForm.invalid">
        Registrar
      </button>
      <button mat-raised-button type="button" (click)="resetForm()">
        Reiniciar
      </button>
    </mat-card-actions>
  </form>
</body>

</html>