<!DOCTYPE html>
<html>
<head>
  <title>Crear habitación</title>
</head>

<body>
  <form [formGroup]="addRoomForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-row">
      <mat-card-title id="hospitalSelect"> {{ title }}</mat-card-title>
      <app-hospital-select id="hospi" formControlName="hospital" [required]="true" [isDisabled]="false"></app-hospital-select>

    </div>
    
    <mat-card-content>
      <div class="form-row">
        <!-- Número de habitación -->

        <mat-form-field id="numHab" appearance="outline">

          <mat-label for="roomNumber">Núm. Hab.</mat-label>
          <input matInput id="roomNumber" type="number" formControlName="roomNumber" (input)="firstNumToFloor()"
            required />

          <mat-error *ngIf="addRoomForm.get('roomNumber')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>

          <mat-error
            *ngIf="addRoomForm.get('roomNumber')?.hasError('roomExists') && addRoomForm.get('roomNumber')?.touched">
            Este número de habitación en este hospital ya existe.
          </mat-error>

        </mat-form-field>

        <!-- Capacidad -->
        <mat-form-field  id="capacidad" appearance="outline">
          <mat-label for="capacity">Capacidad</mat-label>
          <input matInput id="capacity" formControlName="capacity" type="number" required />
          <mat-error *ngIf="addRoomForm.get('capacity')?.hasError('required')">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>

        <!-- zona + area -->
        <app-select-pipe
          [zone]="addRoomForm.get('zone')"
          [area]="addRoomForm.get('area')"
          [showError]="true">
        </app-select-pipe>

      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="addRoomForm.invalid">
        Registrar
      </button>
      <button mat-raised-button type="button" (click)="resetForm()">
        Reiniciar
      </button>
    </mat-card-actions>
  </form>
</body>

</html>