body {
  font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol";
}

form {
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4%;
  margin-left: 100px;
}
mat-card-title {
  font-weight: bold;
  font-size: 1.5em;
}
.form-row {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}
app-select-pipe{
  grid-column-start: 1;
  grid-column-end:3;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}

button {
  width: 9vw;
  height: 5vw;
  margin-right: 2vw;
}
#numHab{
  margin-right: 10px;
}
#hospitalSelect {
  margin-left: 10px;
}

@media (max-width: 786px) {
  form {
    margin: 30px;
  }
  .roomNumber,
  .capacity,
  .zone,
  .area,
  .hospital,
  .availability {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
  button {
    width: 20vw;
    height: 10vw;
    margin-right: 2vw;
  }
}
@media screen and (max-width: 480px) {
  mat-form-field {
    margin-right: 10px;
    margin-bottom: 20px;
  }
  form {
    margin: 10px;
    margin-right: 0px;
  }
  button {
    width: 40vw;
    height: 7vh;

    margin-left: 3vw;
  }
}
