app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .principal {
    display: flex;
    margin-top: 60px;
  }
  
  app-sidebar {
    position: fixed;
    top: 80px;
    height: 100%;  
    display: flex;
  }
  
  .content {
    margin-left: 150px;
    padding: 20px;
    flex-grow: 1;
  }