/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
<<<<<<< HEAD
<<<<<<< HEAD
body { 
    margin: 0; 
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
=======
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> bbcc520024ca263a8a81c355462c8ba008f3f838
=======
body { 
    margin: 0; 
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
>>>>>>> d2477264181b46f36e703f04e1b1057149dfdfa3
