<form [formGroup]="workerForm" (ngSubmit)="createWorker()" novalidate>

  <!-- Template para Creación -->
  <ng-container *ngIf="!isEditMode">
      <mat-card-title>{{ "Crear Trabajador" }}</mat-card-title>

        <!-- Hospital -->
        <mat-form-field id="hospi" appearance="outline">
          <mat-label>Hospital</mat-label>
          <mat-select formControlName="hospital">
              <mat-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalCode">
                  {{ hospital.hospitalName }}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="workerForm.get('hospital')?.hasError('required')">El hospital es obligatorio</mat-error>
      </mat-form-field>

      <!-- Nombre -->
      <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="workerForm.get('name')?.hasError('required')">El nombre es obligatorio</mat-error>
      </mat-form-field>

      <!-- Primer Apellido -->
      <mat-form-field appearance="outline">
          <mat-label>Primer Apellido</mat-label>
          <input matInput formControlName="surname1" />
          <mat-error *ngIf="workerForm.get('surname1')?.hasError('required')">El primer apellido es obligatorio</mat-error>
      </mat-form-field>

      <!-- Segundo Apellido -->
      <mat-form-field appearance="outline">
          <mat-label>Segundo Apellido</mat-label>
          <input matInput formControlName="surname2" />
      </mat-form-field>

      <!-- DNI -->
      <mat-form-field appearance="outline">
          <mat-label>DNI/NIE</mat-label>
          <input matInput formControlName="dni" placeholder="00000000A" />
          <mat-error *ngIf="workerForm.get('dni')?.hasError('required')">El DNI/NIE es obligatorio</mat-error>
          <mat-error *ngIf="workerForm.get('dni')?.hasError('invalidDNI')">El DNI/NIE tiene que ser válido</mat-error>
      </mat-form-field>

      <!-- Teléfono -->
      <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput type="tel" formControlName="phone" placeholder="123456789" />
          <mat-icon matSuffix>phone</mat-icon>
          @if(workerForm.get('phone')?.hasError('required')) {
            <mat-error>El teléfono es obligatorio</mat-error>
          } @else if(workerForm.get('phone')?.invalid) {
            <mat-error>El teléfono debe ser válido</mat-error>
          }
      </mat-form-field>

      <!-- Fecha de Nacimiento -->
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput type="date" formControlName="birthDate" placeholder="DD/MM/YYYY"
            [min]="minDateBirth" [max]="maxDateBirth" />
        <mat-icon matSuffix>today</mat-icon>
        @if(workerForm.get('birthDate')?.hasError('required')) {
        <mat-error>La fecha de nacimiento es obligatoria</mat-error>
        } @else if(workerForm.get('birthDate')?.hasError('minDate')) {
        <mat-error>La fecha no puede ser anterior a 150 años</mat-error>
        } @else if(workerForm.get('birthDate')?.hasError('maxDate')) {
        <mat-error>La fecha de nacimiento no puede ser futura</mat-error>
        }
      </mat-form-field>

      <!-- Nacionalidad -->
      <mat-form-field appearance="outline">
          <mat-label>Nacionalidad</mat-label>
          <mat-select formControlName="country">
              <mat-option *ngFor="let country of countries" [value]="country.name">
                  {{ country.name }}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="workerForm.get('country')?.hasError('required')">La nacionalidad es obligatoria</mat-error>
      </mat-form-field>

      <!-- Género -->
      <mat-form-field appearance="outline">
          <mat-label>Género</mat-label>
          <mat-select formControlName="gender">
              <mat-option value="male">Masculino</mat-option>
              <mat-option value="female">Femenino</mat-option>
          </mat-select>
          <mat-error *ngIf="workerForm.get('gender')?.hasError('required')">El género es obligatorio</mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="workerForm.get('email')?.invalid">El email debe ser válido</mat-error>
      </mat-form-field>

      <!-- Dirección -->
      <mat-form-field appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address" />
      </mat-form-field>

      <!-- Tipo de trabajo -->
      <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="worktype">
            <mat-option value="doctor">Doctor/a</mat-option>
            <mat-option value="nurse">Enfermero/a</mat-option>
            <mat-option value="administrator">Administrador/a</mat-option>
        </mat-select>
        <mat-error *ngIf="workerForm.get('worktype')?.hasError('required')">El rol es obligatorio</mat-error>
      </mat-form-field>

      <mat-card-actions >
          <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="workerForm.invalid">
              Registrar
          </button>
          <button class="reset" mat-raised-button type="button" (click)="resetForm()">
              Reiniciar
          </button>
      </mat-card-actions>
  </ng-container>

</form>
