<header>  
    <div class="Management">
        <button class="DashboardButton" routerLink="/home">
            <img src="/assets/LogoMedicaPlus.png" alt="error de carga" width=45px height=45px />
            {{title}}
        </button>
        <button class="Patients">
            <span>{{nav1}}</span>
        </button>
        <button class="Rooms">
            <span>{{nav2}}</span>
        </button>
    </div>

    <div class="Worker">
        <button class="WorkerName">
            trabajador123
        </button>
        <button class="WorkerSettings">
            <img src="/assets/UserIcon.png" alt="error de carga" width=30px height=30px>
        </button>
    </div>
</header>