header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid;
    border-color:  rgba(1,47,70,255);
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
    background-color: lightblue;
    width: 150px;
    height: 60px;
    align-self: center;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1e90ff;
}

.DashboardButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.DashboardButton img {
    margin-right: 10px;
}

.DashboardButton span {
    display: inline-block;
    vertical-align: middle;
}

.Worker,
.Management {
    display: flex;
    align-items: center;
}

.LeftButtons {
    justify-content: flex-start;
}

.RightButtons {
    justify-content: flex-end;
}

.WorkerSettings{
    width: 50%;
}

.dropdown-menu {
    position: absolute;
    margin-top: 245px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: black;
  }
  
  .dropdown-menu li a:hover {
    background-color: #f1f1f1;
  }