<header>  
    <div class="Management">
        <button class="DashboardButton" routerLink="/home">
            <img src="/assets/LogoMedicaPlus.png" alt="error de carga" width=45px height=45px />
            {{title}}
        </button>
        <button class="Emergencies">
            <span>{{nav1}}</span>
        </button>
        <button class="Pendiente">
            <span>{{nav2}}</span>
        </button>
    </div>

    <div class="Worker">
        <label class="WorkerName">
            trabajador123
        </label>
        <button class="WorkerSettings" (click)="toggleMenu()">
            <img src="/assets/UserIcon.png" alt="error de carga" width="30px" height="30px">
        </button>
        <div *ngIf="isMenuOpen" class="dropdown-menu">
            <ul>
                <li><button href="#Settings">Ajustes</button></li>
                <li><button href="#Logout" routerLink="/login">Cerrar sesión <img src="/assets/logout_logo.png" alt="error de carga" width="50px" height="30px"></button></li>
            </ul>
        </div>
    </div>
</header>