<!DOCTYPE html>
<html>
  <head>
    <title>Crear Cama</title>
  </head>

  <body>
    <form [formGroup]="addBedForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-card-title> {{ title }}</mat-card-title>
      <mat-card-content>
        <div class="form-row">
          <mat-form-field appearance="outline" id="bedCode">
            <mat-label>Codigo cama</mat-label>
            <input
              matInput
              formControlName="bedCode"
              type="number"
              required
              bedCode.disabled
            />
          </mat-form-field>
          <!-- Número de habitación -->

          <mat-form-field id="numHab" appearance="outline">
            <mat-label for="roomNumber">Núm. Hab.</mat-label>
            <input
              matInput
              id="roomNumber"
              type="number"
              formControlName="roomNumber"
              (input)="firstNumToFloor()"
            />
          </mat-form-field>

          <!-- Capacidad -->

          <!-- Zona -->
          <app-select-pipe
          [zone]="addBedForm.get('zone')"
          [area]="addBedForm.get('area')"
          [showError]="false">
        </app-select-pipe>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="addBedForm.invalid"
        >
          Registrar
        </button>
        <button mat-raised-button type="button" (click)="resetForm()">
          Reiniciar
        </button>
      </mat-card-actions>
    </form>
  </body>
</html>
