<!DOCTYPE html>
<html>
  <head>
    <title>Patient</title>
  </head>
  <body>
    <div class="title">Pacientes:</div>

    <div class="grid-layout">
      <div>
        <button
          class="create"
          onclick="window.location.href='/home/patient/create';"
        >
          <img
            class="patient"
            src="assets/patient_create.png"
            alt="error de carga"
          />
        </button>
        <p>Crear</p>
      </div>
      <div>
        <button
          class="search"
          onclick="window.location.href='/home/patient/search';"
        >
          <img class="search" src="assets/lupa.png" alt="error de carga" />
        </button>
        <p>Buscar</p>
      </div>
    </div>
  </body>
</html>
