<head>
  <title>Búsqueda habitaciones</title>
</head>
<div class="content">
  <form>
    <legend>{{title}}</legend>
    <div class="credentials">
      <label for="roomNumber">Número:</label>
      <input type="text" id="roomNumber" />
      <label for="RoomType">Tipo:</label>
      <input type="text" id="RoomType" />
      <label for="floor">Planta:</label>
      <input type="text" id="floor" />
      <label for="area">Área:</label>
      <input type="text" id="area" />

      <label for="capacity">Capacidad:</label>
      <input type="text" id="capacity" />
      <fieldset>
        <div class="alinear">
          <label for="availability">Disponible:</label>
          <div class="filtre1">
            <label for="available">Si</label>
            <input type="radio" name="availability" id="available" required />
          </div>
          <div class="filtre2">
            <label for="noAvailable" id="labelIngr">No</label>
            <input type="radio" name="availability" id="noAvailable" required />
          </div>
        </div>
      </fieldset>
    </div>
    <button type="submit" (click)="toggleDisplay()" >Buscar</button>
  </form>
  <br>
  <div [style.display]="isVisible ? 'block' : 'none'" *ngIf="room.length <= 0">
    <legend style="margin-left: 3%;">
      Habitacion no encontrada
    </legend>
  </div>
  <div class="table-wrapper" [style.display]="isVisible ? 'block' : 'none'" *ngIf="room.length > 0" >
    <table>
      <thead>
        <th>Número</th>
        <th>Tipo</th>
        <th>Planta</th>
        <th>Área</th>
        <th>Capacidad</th>
        <th>Disponible</th>
        <th>Id Paciente</th>
      </thead>
      <tbody>
        <tr *ngFor = "let room of room" (click)="goToManage(room.idpatient)" class="file-click">
          <td>{{room.room_number}}</td>
          <td>{{room.room_type}}</td>
          <td>{{room.floor}}</td>
          <td>{{room.area}}</td>
          <td>{{room.capacity}}</td>
          <td *ngIf="room.availability == false ; else Disponible">No</td>
          <ng-template #Disponible>
            <td>Sí</td>
          </ng-template>
          <td *ngIf="room.availability == false && room.idpatient !== undefined; else noPatient">{{ room.idpatient }}</td>
            <ng-template #noPatient>
              <td>-</td>
            </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
