<head>
  <title>Búsqueda habitaciones</title>
</head>
<div class="content">
  <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <mat-card-title> {{ title }}</mat-card-title>

    <mat-card-content>
      <div class="credentials">
        <mat-form-field appearance="outline">
          <mat-label for="roomNumber">Número:</mat-label>
          <input
            matInput
            type="number"
            id="roomNumber"
            formControlName="roomNumber"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="floor">Planta:</mat-label>
          <input matInput type="number" id="floor" formControlName="floor" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="zone">Zona:</mat-label>
          <input matInput type="text" id="zone" formControlName="zone" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="area">Área:</mat-label>
          <input matInput type="text" id="area" formControlName="area" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="capacity">Capacidad:</mat-label>
          <input
            matInput
            type="number"
            id="capacity"
            formControlName="capacity"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="availability">Disponibilidad</mat-label>
          <mat-select id="availability" formControlName="availability">
            <mat-option [value]="true">Sí</mat-option>
            <mat-option [value]="false">No</mat-option>
            <mat-option [value]="null">Todas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <button type="submit" (click)="onSubmit()" (click)="toggleDisplay()">
      Buscar
    </button>
  </form>

  <br />

  <div *ngIf="isVisible">
    <ng-container *ngIf="rooms.length === 0; else roomTable">
      <legend style="margin-left: 3%">Habitación no encontrada</legend>
    </ng-container>
    <ng-template #roomTable>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Número</th>
              <th>Planta</th>
              <th>Zona</th>
              <th>Área</th>
              <th>Capacidad</th>
              <th>Disponible</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let room of rooms"
              (click)="goToRooms(room.id)"
              class="file-click"
            >
              <td>{{ room.roomNumber }}</td>
              <td>{{ room.floor }}</td>
              <td>{{ room.zone | enumToString : "HOSPITAL_ZONE" }}</td>

              <td class="tbcen" *ngIf="room.zone == HospitalZone.Ambulatorio">
                {{ room.area | enumToString : "AMBULATORY_AREA" }}
              </td>
              <td class="tbcen" *ngIf="room.zone == HospitalZone.Hospitalizacion">
                {{ room.area | enumToString : "HOSPITALIZED_AREA" }}
              </td>
              <td class="tbcen" *ngIf="room.zone == HospitalZone.Urgencias">
                {{ room.area | enumToString : "URGENCY_AREA" }}
              </td>
              <td class="tbcen" *ngIf="room.zone == HospitalZone.Quirofano">
                {{ room.area | enumToString : "OPERATING_AREA" }}
              </td>
              
              <td>{{ room.capacity }}</td>
              <td>{{ room.availability ? "Sí" : "No" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>
