.content {
  font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol";
  overflow: hidden;
}
mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}
legend {
  margin: 0px;
  overflow: hidden;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0px;
  line-height: 31px;
  white-space: pre-line;
  font-weight: bold;
  padding-bottom: 2%;
}

form {
  padding-top: 3%;
  padding-left: 2%;
  padding-bottom: 10px;
}

form button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: auto;
  text-transform: uppercase;
  margin-right: 10px;
}

form button:hover {
  background-color: cadetblue;
}

.credentials {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  margin-right: 2%;
  margin-top: 3%;
}

.filtre1 {
  display: grid;
  text-decoration: underline;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 800px;
}

.filtre2 {
  display: grid;
  text-decoration: underline;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 800px;
}

fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}
table {
  display: block;
  scrollbar-width: none;
  overflow: scroll;
  -ms-overflow-style: none;
}
.table-wrapper {
  width: 83vw;
  height: auto;
  overflow: auto;
  margin-left: 15px;
}

table::-webkit-scrollbar {
  display: none;
}

.table-wrapper table {
  border-collapse: collapse;
}

.table-wrapper table thead {
  position: -webkit-sticky; /* Safari... */
  position: sticky;
  top: 0;
  left: 0;
}

thead {
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffffff;
}

td {
  text-align: center;
  height: 50px;
  width: 200px;
}

td button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.file-click:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  content {
    display: flex;
    flex-wrap: wrap;
  }
  .table-wrapper {
    width: 99vw;
  }
  form {
    padding-right: 2%;
  }
  .credentials {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  th,
  td {
    padding: 0 15px;
  }
}
@media screen and (max-width: 480px) {
  .credentials {
    grid-template-columns: 45vw 45vw;
  }
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.prev,
.next {
  margin: 0 5px; /* Espacio reducido entre los botones de navegación y los números */
  flex: 0; /* Asegura que estos botones no crezcan */
}

.pagination {
  display: inline-flex;
  justify-content: center; /* Centra los números de página */
  flex-grow: 0.3; /* Permite que el contenedor de paginación ocupe el espacio disponible */
  margin: 0 10px; /* Reduce el espacio a los lados del contenedor de paginación */
}

.pagination button {
  background-color: transparent;
  color: #1976d2;
  border: 1px solid #1976d2;
  border-radius: 4px;
  padding: 5px 8px; /* Ajusta el tamaño del padding de los botones */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  background-color: #1976d2;
  color: white;
}

.pagination button:hover:not(.active):not(:disabled) {
  background-color: #e3f2fd;
  color: #1976d2;
}

.pagination button:disabled {
  color: #b0bec5;
  border: none;
  background-color: transparent;
}

.pagination button:focus {
  outline: none;
}

.pagination button:first-child,
.pagination button:last-child {
  padding: 5px 10px; /* Ajusta el tamaño de las flechas */
  font-weight: normal;
}

th {
  cursor: pointer;
  padding: 10px;
  user-select: none;
}

th span {
  margin-left: 5px;
}

th:hover {
  background-color: #f1f1f1;
}
.loading-container {
  width: 80%; /* Asegura que la barra no ocupe todo el ancho */
  height: 10px; /* Cambia la altura para que sea más fina */
  background-color: #e0e0e0; /* Color del fondo de la barra de carga */
  border-radius: 5px; /* Bordes redondeados */
  margin: 20px auto; /* Centra la barra en la página */
  position: relative;
}

.loading-bar {
  height: 100%;
  width: 0; /* Inicia en 0% */
  background-color: #4caf50; /* Color de la barra de carga */
  border-radius: 5px; /* Bordes redondeados para la barra */
  animation: loading 0.1s linear forwards; /* Animación de carga */
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%; /* Llena al 100% al finalizar */
  }
}
