.content {
  font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol";
}
mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}
legend {
  margin: 0px;
  overflow: hidden;
  font-size: 24px;
  text-align: left;
  letter-spacing: 0px;
  line-height: 31px;
  white-space: pre-line;
  font-weight: bold;
  padding-bottom: 2%;
}

form {
  padding-top: 3%;
  padding-left: 2%;
  padding-bottom: 10px;
  border-bottom: solid black;
}

form button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: auto;
  text-transform: uppercase;
}

form button:hover {
  background-color: cadetblue;
}

.credentials {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  margin-right: 2%;
  margin-top: 3%;
}

.filtre1 {
  display: grid;
  text-decoration: underline;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 800px;
}

.filtre2 {
  display: grid;
  text-decoration: underline;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 800px;
}

fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.table-wrapper {
  width: 95vw;
  height: 63.9vh;
  overflow: auto;
  margin-left: 15px;
}

.table-wrapper::-webkit-scrollbar {
  display: none;
}

.table-wrapper table {
  border-collapse: collapse;
}

.table-wrapper table thead {
  position: -webkit-sticky; /* Safari... */
  position: sticky;
  top: 0;
  left: 0;
}

thead {
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffffff;
}

td {
  text-align: center;
  height: 50px;
  width: 200px;
}

td button {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.file-click:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  content {
    display: flex;
    flex-wrap: wrap;
  }
  form {
    padding-right: 2%;
  }
  .credentials {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  th,
  td {
    padding: 0 15px;
  }
  button {
    width: 25vw;
    height: 8vw;
  }
}
@media screen and (max-width: 480px) {
  .credentials {
    grid-template-columns: 45vw 45vw;
  }
}
