<!DOCTYPE html>
<html>
  <head>
    <title>Patient</title>
  </head>
  <body>
    <div class="title">Habitaciones:</div>

    <div class="grid-layout">
      <div>
        <button
          class="create"
          onclick="window.location.href='/home/room/create';"
        >
          <img
            class="create"
            src="assets/logo_create_room-sinfondo.png"
            alt="error de carga"
          />
        </button>
        <p>Crear</p>
      </div>
      <div>
        <button
          class="search"
          onclick="window.location.href='/home/room/search';"
        >
          <img
          class="search"
          src="assets/lupa.png"
          alt="error de carga" />
        </button>
        <p>Buscar</p>
      </div>
    </div>
  </body>
</html>
