.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid lightskyblue;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Animación de rotación */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
