<div class="content">
    <h1>Búsqueda Paciente:</h1>
    <form>
        <div class="credentials">
            <label for="patientID">Codigo paciente</label>
            <input type="text" id="patientID"/>
            <label for="name">Nombre</label>
            <input type="text" id="name"/>
            <label for="surname1">Apellido1</label>
            <input type="text" id="surname1"/>
            <label for="surname2">Apellido2</label>
            <input type="text" id="surname2"/>
            <br>
            <label for="phone">Teléfono</label>
            <input type="text" id="phone"/>
            <label for="dni">DNI</label>
            <input type="text" id="dni"/>
            <label for="numSS">Núm. SS</label>
            <input type="text" id="numSS"/>
            <label for="gender">Sexo:</label>
            <input type="radio" name="gender"/>Masculino
            <input type="radio" name="gender"/>Femenino
        </div>
        <input class="submit" type="submit" value="Buscar"/>
    </form>
    <br>
    <div class="atributes">
        <a>Cod. Paciente </a>
        <a>Nombre </a>
        <a>Apellido1 </a>
        <a>Apellido2 </a>
        <a>Teléfono </a>
        <a>Edad </a>
        <a>Estado </a>
        <a>Tipo </a>
    </div>
</div>