<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Nav</title>
    <link rel="stylesheet" href="sidebar.component.css">
</head>
<body>
    <div class="sidebar">
        <h3>Gestión de pacientes</h3>
        <ul>
            <li><a href="#crear">Crear</a></li> <!-- estos botones como los de login con rutas -->
            <li><a href="#buscar">Buscar</a></li>
        </ul>
        <h3>Gestión de habitaciones</h3>
        <ul>
            <li><a href="#camas">Camas</a></li>
        </ul>
    </div>
    <div class="content">
    </div>
</body>
</html>