<!DOCTYPE html>
<html>
  <head>
    <title>Consultas</title>
  </head>
  <body>
    <div class="slogan">La salud organizada es salud mejorada</div>
    <div class="grid-layout">
      <div appHasRole="general_patients">
        <button class="patient" [routerLink]="['/home/consultation/appointment/create']">
          <img class="people" src="assets/add-date-calendar-icon.svg" alt="error de carga" />
        </button>
        <p>Pedir cita</p>
      </div>
      <div appHasRole="general_patients">
        <button class="room" [routerLink]="['/home/consultation/appointment/manage']">
          <img class="room" src="assets/hab.png" alt="error de carga" />
        </button>
        <p>Gestionar citas</p>
      </div>
      <div appHasRole="general_patients">
        <button class="worker" [routerLink]="['/home']">
          <img class="worker"  src="assets/date-icon.svg" alt="error de carga">
        </button>
        <p>Calendario</p>
      </div>
      <div appHasRole="general_patients">
        <button class="worker" [routerLink]="['/home']">
          <img class="worker"  src="assets/paste-icon.svg" alt="error de carga">
        </button>
        <p>Resultados e informes</p>
      </div>
    </div>
  </body>
</html>
