<!DOCTYPE html>
<html>
  <head>
    <title>Consultas</title>
  </head>
  <body>
    <div class="slogan">La salud organizada es salud mejorada</div>
    <div class="grid-layout">
      <div appHasRole="general_patients">
        <button class="patient" onclick="window.location.href='/home';">
          <img class="people" src="assets/calendar-date-svgrepo-com.svg" alt="error de carga" />
        </button>
        <p>Pedir cita</p>
      </div>
      <div appHasRole="general_patients">
        <button class="room" onclick="window.location.href='/home';">
          <img class="room" src="assets/hab.png" alt="error de carga" />
        </button>
        <p>Gestionar citas</p>
      </div>
      <div appHasRole="general_patients">
        <button class="worker" onclick="window.location.href='/home';">
          <img class="worker"  src="assets/Video_camera_icon.svg.png" alt="error de carga">
        </button>
        <p>Videoconsulta</p>
      </div>
      <div appHasRole="general_patients">
        <button class="worker" onclick="window.location.href='/home';">
          <img class="worker"  src="assets/date-icon.svg" alt="error de carga">
        </button>
        <p>Calendario</p>
      </div>
    </div>
  </body>
</html>
