body { 
    font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol"; 
}
form {
    padding: 5%;
}
legend {
    width: 161px;
    height: 31px; 
    margin: 0px; 
    overflow: hidden; 
    font-size: 24px; 
    text-align: left; 
    letter-spacing: 0px; 
    line-height: 31px; 
    white-space: pre-line;
}
.head {
    margin-left: 7.5%;
}
.cod-pat {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre las columnas */
    max-width: 800px; /* Max width for larger screens */
    margin: 0 auto;
}
.form-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre las columnas */
    max-width: 800px; /* Max width for larger screens */
    margin: 0 auto;
}
.peu-form {
/*
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    border: none;
    font-size: 14px;
    cursor: pointer;*/

    
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Dos columnas de igual ancho */
    gap: 80px; /* Espacio entre las columnas */
    max-width: 800px; /* Max width for larger screens */
    margin-left: 8%;
}/*
.sexe {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho 
    gap: 20px; /* Espacio entre las columnas 
    max-width: 800px; /* Max width for larger screens 
    margin: 0 auto;
}*/
.select {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Dos columnas de igual ancho */
    gap: 20px; /* Espacio entre las columnas */
    max-width: 800px; /* Max width for larger screens */
    margin: 0 auto;
}
.eme-con {
    margin-left: 47.5%;
}
label {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 196px;
    height: 57px;
    border-radius: 8px;
    background-color: rgb(76, 217, 100);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border: 0px;
}

.select input {
    margin: 0px;
}
.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 196px;
    height: 57px;
    border-radius: 8px;
    background-color: rgb(76, 217, 100);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border: 0px;
}

.submit, .reset {
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}