<!DOCTYPE html>
<html>
    <head>
        <title>Crear Paciente</title>
        <link rel="stylesheet" href="create.component.css"> <!-- uso mentres estilitzo component -->
    </head>
    <body>
        <form>
            <legend class="head" >Crear Paciente:</legend>
            <div class="grid-layout">
                <br>
                <div class="cod-pat">
                    <label for="patientCode">Código:</label>
                    <input id="patientCode" type="text" placeholder="123456" readonly>
                </div>
                <br>
                <div class="form-col">
                    <label for="dni">DNI:</label>
                    <input id="dni" type="text" placeholder="00000000-A" autofocus>
                    <label for="cip">CIP:</label>
                    <input id="cip" type="text" placeholder="LOMA 0000000000">
        
                    <label for="name">Nombre:</label>
                    <input id="name" type="text" placeholder="Juan" required>
                    <label for="birth">F. Nacimiento:</label>
                    <input id="birth" type="date" placeholder="dd/mm/aaaa" required>

                    <label for="lastname1">Apellido 1:</label>
                    <input id="lastname1" type="text" placeholder="Martínez" required>
                    <label for="lastname2">Apellido 2:</label>
                    <input id="lastname2" type="text" placeholder="López">

                    <label for="phone">Teléfono:</label>
                    <input id="phone" type="text" placeholder="632345675" required>
                    <label for="email">E-mail:</label>
                    <input id="email" type="text" placeholder="julo90@gmail.com">

                    <label for="nationality">Nacionalidad:</label>
                    <select id="nationality" name="country" required>
                        <option value="" disabled selected>Select Country</option>
                        <option value="" selected>Spain</option>
                        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                    <label for="address">Dirección:</label>
                    <input id="address" type="text" placeholder="c/ Fluvià 65, 4, 08002, Barcelona">
                </div>
                <br>
                <div class="peu-form">
                    <div class="eme-con">
                        <label for="emergencycontact">C. Emergencia:</label>
                    </div>
                    <input id="emergencycontact" type="text" placeholder="999999999">
                    <label for="gender">Sexo:</label>
                    <div class="sexe">
                        <fieldset>
                            <div class="select">
                                <input id="male" type="radio" name="gender" value="masculino" required/>
                                <label class="select1" for="male">Masculino</label>
                                <input id="female" type="radio" name="gender" value="femenino" required/>
                                <label class="select2" for="female">Femenino</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="formButtons">
                <input class="submit" type="submit" placeholder="Registrar"/>
                <input class="reset" type="reset" placeholder="Reiniciar"/>
            </div>
        </form>
    </body>
</html>