<!DOCTYPE html>
<html>
    <head>
        <title>Crear Paciente</title>
        <link rel="stylesheet" href="create.component.css"> <!-- uso mentres estilitzo component -->
    </head>
    <body>
        <form>
            <legend class="head" >Crear Paciente:</legend>
            <div class="grid-layout">
                <br>
                <div class="cod-pat">
                    <label for="patientCode">Código:</label>
                    <input type="text" id="readonlyField" placeholder="123456" readonly>
                </div>
                <br>
                <div class="form-col">
                    <label for="dni">DNI:</label>
                    <input type="text" placeholder="00000000-A" autofocus>
                    <label for="cip">CIP:</label>
                    <input type="text" placeholder="LOMA 0000000000">
        
                    <label for="name">Nombre:</label>
                    <input type="text" placeholder="Juan" required>
                    <label for="birth">F. Nacimiento:</label>
                    <input type="date" id="birth" placeholder="dd/mm/aaaa">

                    <label for="lastname">Apellido1:</label>
                    <input type="text" placeholder="Martínez" required>
                    <label for="lastname">Apellido2:</label>
                    <input type="text" placeholder="López" required>

                    <label for="phone">Teléfono:</label>
                    <input type="text" placeholder="632345675">
                    <label for="email">E-mail:</label>
                    <input type="text" placeholder="julo90@gmail.com">

                    <label for="nationality">Nacionalidad:</label>
                    <select id="nationality" name="country">
                        <option value="" disabled selected>Select Country</option>
                        <option value="" disabled selected>Spain</option>
                        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                    <label for="address">Dirección:</label>
                    <input type="text" placeholder="c/ Fluvià 65, 4, 08002, Barcelona" >
                    <br>
                </div>
                <div class="peu-form">
                    <label for="gender">Sexo:</label>
                    <div class="sexe">
                        <div class="select">
                            <input type="radio" name="gender"/>Masculino
                            <input type="radio" name="gender"/>Femenino
                        </div>
                    </div>
                    <div class="eme-con">
                        <label for="emergencycontact">Contacto emergencia:</label>
                    </div>
                    <input type="text" placeholder="c/ Fluvià 65, 4, 08002, Barcelona" >
                </div>
            </div>
            <br><br>
            <div class="button">
                <input class="submit" type="submit" placeholder="Registrar" />
                <input class="reset" type="reset" placeholder="Reiniciar" />
            </div>
        </form>
    </body>
</html>