body { 
    font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol"; 

}
form {
    padding-top: 4%;
}
legend {
    width: 161px;
    height: 31px; 
    margin: 0px; 
    overflow: hidden; 
    font-size: 24px; 
    text-align: left; 
    letter-spacing: 0px; 
    line-height: 31px; 
    white-space: pre-line;
}
.head {
    margin-left: 7.3%;
}
.cod-pat {
    display: grid;
    grid-template-columns: 10vw 20vw;
    gap: 20px;
    max-width: 800px;
    margin-left: 7.5%;
}
.form-col {
    display: grid;
    grid-template-columns: 10vw 20vw 15vw 20vw;
    gap: 20px;
    max-width: 800px;
    margin-left: 7.5%;
}
.peu-form {
    display: grid;
    grid-template-columns: 10vw 20vw 15vw 20vw;
    gap: 20px;
    max-width: 800px;
    margin-left: 7.5%;
}
.select {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: auto;
    max-width: 800px;
    margin-left: -20px;
}
label {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}

.select1, .select2 {
    font-weight: normal;
}

.select input {
    margin: 0px;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 196px;
    height: 57px;
    border-radius: 8px;
    background-color: rgb(76, 217, 100);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border: 0px;
}
.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 196px;
    height: 57px;
    border-radius: 8px;
    background-color: rgb(194, 194, 194);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    border: 0px;
}
.formButtons {
    display: flex;
    justify-content: center;
    gap: 5vw;
}
@media (max-width: 600px) {
    .form-col, .peu-form {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}