body,
#birth {
  font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol";
}
form {
  padding-top: 3%;
  display: grid;
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  margin-left: 100px;
  grid-template-rows: auto auto auto auto;
}
#divSep{
  margin-top: 10px;
  margin-bottom: 20px;
}
#hist-pat {
  align-items: center;
  width: auto;
  height: auto;
  margin-right: 0;
  margin-left: 10px;
}
mat-card-actions{
  grid-column-start: 1;
  grid-column-end: 3;
}
.form-row {
  display: grid;
  grid-template-columns: auto auto auto;
}
mat-form-field {
  margin-right: 10px;
  margin-bottom: 10px;
}
mat-card-content {
  grid-column-start: 1;
  grid-column-end: 4;
}
mat-card-title {
  font-family: "Inter Tight", "Segoe UI", "Apple Color Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-size: 1.5em;
}
legend {
  font-weight: bold;
  font-size: 1.5em;
}
button {
  width: 9vw;
  height: 10vh;
  margin-right: 2vw;
}
#hospi{
  grid-column-start:3 ;
  grid-column-end: 4;
}
@media screen and (max-width: 768px) {
  form {
    display: grid;
    grid-template-columns: 48vw 48vw;
    grid-template-rows: auto auto auto;
    margin-left: 10px;
    align-items: first baseline;
  }
  #hospi{
    grid-column-start:2 ;
    grid-column-end: 3;
  }
  button {
    width: 20vw;
    height: 10vw;
    margin-right: 2vw;
  }
  .form-row {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 480px) {
  .select {
    grid-template-columns: auto auto;
  }
  button {
    width: 40vw;
    height: 7vh;
  }
  mat-card-actions{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  mat-card-content {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .form-col {
    display: grid;
    grid-template-columns: 18vw 18vw 20vw 20vw;
    grid-template-rows: 4vh 4vh 4vh 4vh 4vh;
    max-width: 800px;
    margin-left: 7.5%;
  }
  .peu-form {
    grid-template-columns: 18vw 18vw 18vw 20vw;
    grid-template-rows: 5vh;
  }
  legend {
    font-size: 1.2em;
  }
  .reset {
    width: 40vw;
    height: 7vh;
  }
  .submit {
    width: 40vw;
    height: 7vh;
  }
  label {
    font-size: 0.7em;
  }
}



.personalTitle {
  margin-left: 3vw;
  font-size: 20px;
}

.personalData {
  display: grid;
  grid-template-columns: 35vw 40vw;
  margin-left: 3vw;
  column-gap: 2vw;
}
.personalData > div {
  display: flex;
  margin-top: 4vh;
}

.userData {
  width: 40vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userData > div {
  display: flex;
  margin-top: 4vh;
}

.dataTitle {
  font-size: 18px;
  align-self: center;
  margin-top: 5vh;
}

.sumbitButton {
  align-self: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(76, 217, 100);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  border: 0px;
  margin-top: 5vh;
}
@media screen and (max-width: 768px) {
  .personalData > div {
    display: flex;
    margin-top: 4vh;
  }
  .userData > div {
    display: flex;
    margin-top: 4vh;
  }
  .personalData {
    column-gap: 7vw;
  }
  form {
    margin-left: 4.5%;
  }
}
@media screen and (max-width: 480px) {
  .personalData {
    width: 40vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    font-size: 0.9em;
  }

  .personalData > div {
    display: flex;
    margin-top: 4vh;
  }
  input,
  select {
    font-size: 0.8em;
  }
  .userData {
    width: 80%;
  }
  .userData > div {
    font-size: 0.9em;

  }
}
