<!DOCTYPE html>
<html>
    <head>
        <title>Mi Perfil</title>
    </head>
    <body>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h4 class="personalTitle">Datos Personales</h4>
            <div class="personalData">
                <div>
                    <mat-form-field>
                        <mat-label for="name">Nombre</mat-label>
                        <input matInput type="text" formControlName="name" id="name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="dni">DNI/NIE</mat-label>
                        <input matInput type="text" formControlName="dni" id="dni">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="surname1">Apellido 1</mat-label>
                        <input matInput type="text" formControlName="surname1" id="surname1">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="cip">CIP</mat-label>
                        <input matInput type="text" formControlName="cip" id="cip">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="surname2">Apellido 2</mat-label>
                        <input matInput type="text" formControlName="surname2" id="surname2">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="email">Email</mat-label>
                        <input matInput type="text" formControlName="email" id="email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="gender">Sexo</mat-label>
                        <mat-select id="gender" formControlName="gender">
                            <mat-option value="male">Hombre</mat-option>
                            <mat-option value="female">Mujer</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="phone">Telefono</mat-label>
                        <input matInput type="tel" id="phone" formControlName="phone">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="birth">F. Nacimiento</mat-label>
                        <input matInput type="date" id="birth" formControlName="birth">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="address">Dirección</mat-label>
                        <input matInput type="text" id="address" formControlName="address">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="country">Nacionalidad</mat-label>
                        <mat-select id="country" name="country" formControlName="country">
                            <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <h4 class="dataTitle">Datos Usuario</h4>
            <div class="userData">
                <div>
                    <mat-form-field>
                        <mat-label for="speciality">Tipo Trabajador</mat-label>
                        <input matInput class="readonly" type="text" id="speciality" formControlName="speciality" readonly value="Doctor - Cardiología">
                    </mat-form-field>   
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="username">Usuario</mat-label>
                        <input matInput class="readonly" type="text" id="username" formControlName="username" readonly>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="passw">Contraseña</mat-label>
                        <input matInput type="password" id="passw">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label for="validatepassw">Validar Contraseña</mat-label>
                        <input matInput type="password" id="validatepassw">
                    </mat-form-field>
                </div>
            </div>
            <input class="sumbitButton" type="submit" value="Guardar Datos">
        </form>
        
    </body>
</html>
