<!DOCTYPE html>
<html>
    <head>
        <title>Mi Perfil</title>
    </head>
    <body>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h4 class="personalTitle">Datos Personales</h4>
            <div class="personalData">
                <div>
                    <label for="name">Nombre</label>
                    <input type="text" formControlName="name" id="name">
                </div>
                <div>
                    <label for="dni">DNI/NIE</label>
                    <input type="text" formControlName="dni" id="dni">
                </div>
                <div>
                    <label for="surname1">Apellido 1</label>
                    <input type="text" formControlName="surname1" id="surname1">
                </div>
                <div>
                    <label for="cip">CIP</label>
                    <input type="text" formControlName="cip" id="cip">
                </div>
                <div>
                    <label for="surname2">Apellido 2</label>
                    <input type="text" formControlName="surname2" id="surname2">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" id="email">
                </div>
                <div>
                    <label for="gender">Sexo</label>
                    <select id="gender" formControlName="gender">
                        <option value="male">Hombre</option>
                        <option value="female">Mujer</option>
                    </select>
                </div>
                <div>
                    <label for="phone">Telefono</label>
                    <input type="tel" id="phone" formControlName="phone">
                </div>
                <div>
                    <label for="birth">F. Nacimiento</label>
                    <input type="date" id="birth" formControlName="birth">
                </div>
                <div>
                    <label for="address">Dirección</label>
                    <input type="text" id="address" formControlName="address">
                </div>
                <div>
                    <label for="country">Nacionalidad</label>
                    <select id="country" name="country" formControlName="country">
                        <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                </div>
            </div>
            <h4 class="dataTitle">Datos Usuario</h4>
            <div class="userData">
                <div>
                    <label for="speciality">Tipo Trabajador</label>
                    <input class="readonly" type="text" id="speciality" formControlName="speciality" readonly value="Doctor - Cardiología">
                </div>
                <div>
                    <label for="username">Usuario</label>
                    <input class="readonly" type="text" id="username" formControlName="username" readonly>
                </div>
                <div>
                    <label for="passw">Contraseña</label>
                    <input type="password" id="passw">
                </div>
                <div>
                    <label for="validatepassw">Validar Contraseña</label>
                    <input type="password" id="validatepassw">
                </div>
            </div>
            <input class="sumbitButton" type="submit" value="Guardar Datos">
        </form>
        
    </body>
</html>
