<head>
    <title>Gestionar paciente</title>
    <link rel="stylesheet" href="manage.component.css">
</head>
<body>
    <div class="content">
        <form class="selectstatus" (ngSubmit)="onSubmit()">
            <legend>{{title}} Juan Martínez López</legend>  
            <!-- del model de gestió ngModel -> (@NgModule), disposa del camp que conte els enums de l'estat de pacient,
            que a més al canviar l'estat del model, li pasem la variable del esdeveniment, en que
            el mètode també comprobarà si l'estat és un valor hospitalizat per mostrar el llistat -->
            <div class="control">
                <label for="status">Estado: </label>
                <select id="status" name="status" [(ngModel)]="selectedPatientStatus" (ngModelChange)="onStatusChange($event)">
                    <option *ngFor="let status of patientStatus" [ngValue]="status.value">
                        {{ status.label }}
                    </option>
                </select>
            </div>
            <!--
                <div class="control">
                    <label for="type">Tipo: </label>
                    <select id="type" name="tipo" [(ngModel)]="selectedStatusType" (ngModelChange)="onTypeChange($event)">
                        <option *ngFor="let type of statusType" [ngValue]="type.value">
                            {{ type.label }}
                        </option>
                    </select>
                </div>
            -->
            <div class="table-wrapper" *ngIf="showSelectRoom">
                <div class="selectControl">
                    <label for="assignRoom">Asignar habitación: </label>
                    <input id="assignRoom" type="text" placeholder="00201" readonly>
                    <button type="button" (click)="showfakepopup()">SELECCIONAR</button>
                </div>
                <div>
                    <form class="roomselect" *ngIf="fakepopup">
                        <div class="container">
                            <h5>Buscar habitación</h5>
                            <label for="area">Seleccionar área: </label>
                            <select id="area" name="area" [(ngModel)]="selectedAreaType" (ngModelChange)="onAreaChange($event)">
                                <option *ngFor="let area of hospitalizedArea" [ngValue]="area.value">
                                    {{ area.label }}
                                </option>
                            </select>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Núm.</th>
                                        <th>Tipo</th>
                                        <th>Planta</th>
                                        <th>Área</th>
                                        <th>Capacidad</th>
                                        <th>Disponibilidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>101</td>
                                        <td>Box</td>
                                        <td class="tbcen">1</td>
                                        <td>Urgencias</td>
                                        <td class="tbcen">1</td>
                                        <td class="tbcen">1</td>
                                        <td><button class="button" (click)="showfakepopup()">ASIGNAR</button></td>
                                    </tr>
                                    <tr>
                                        <td>102</td>
                                        <td>Box</td>
                                        <td class="tbcen">1</td>
                                        <td>Urgencias</td>
                                        <td class="tbcen">2</td>
                                        <td class="tbcen">1</td>
                                        <td><button class="button" (click)="showfakepopup()">ASIGNAR</button></td>
                                    </tr>
                                    <tr>
                                        <td>103</td>
                                        <td>Box</td>
                                        <td class="tbcen">1</td>
                                        <td>Urgencias</td>
                                        <td class="tbcen">2</td>
                                        <td class="tbcen">2</td>
                                        <td><button class="button" (click)="showfakepopup()">ASIGNAR</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>       
                    </form>
                </div>
            </div>
            <input class="submit" type="submit" value="Guardar Estat"/>
        </form>
    </div>
</body>