<!DOCTYPE html>
<html>
  <head>
    <title>Información Paciente</title>
  </head>
  <body>
    <form>
      <label class="title">Información Paciente:</label>
      <div class="grid-layout">
        <br>
        <div class="form-col">
          <label for="patientCode">Código:</label>
          <p id="patientCode">123567</p>
          <label for="hist-pat"></label>
          <a id="hist-pat" href="https://drive.google.com/file/d/1g2QnoNsQLzy-MFS6atwXQ9zSb_IfmP4e/view?usp=sharing" target="_blank">
            <span>Visualizar historia Clínica</span>
            <img class="pdflogo" src="assets/pdf_logo.png" alt="error de carga" width="30px" height="27px" />
          </a>
          <label for="name">Nombre:</label>
          <p id="name">Juan</p>
          <label for="dni">DNI:</label>
          <p id="dni">00000000B</p>
          <label for="surname1">Apellido 1:</label>
          <p id="surname1">Martínez</p>
          <label for="cip">CIP:</label>
          <p id="cip">LO MA 00000002</p>
          <label for="surname2">Apellido 2:</label>
          <p id="surname2">López</p>
          <label for="email">E-mail:</label>
          <a href="mailto:julo90@gmail.com"><span>julo90&#64;gmail.com</span></a>
          <label for="gender">Sexo:</label>
          <p id="gender">Masculino</p>
          <label for="phone">Teléfono:</label>
          <p id="phone">631238791</p>
          <label for="birth">F. Nacimiento:</label>
          <p id="birth">12/03/1990</p>
          <label for="emergencycontact">C. Emergencia:</label>
          <p id="emergencycontact">999999999</p>
          <label for="nationality">Nacionalidad:</label>
          <p id="nationality">España</p>
          <label for="address">Dirección:</label>
          <p id="address">C. Fluvià 65, 4, 08002, Barcelona</p>
        </div>
      </div>
      <br>
      <div class="formButtons">
        <input class="submit" type="submit" value="EDITAR" />
      </div>
    </form>
  </body>
</html>
