<!DOCTYPE html>
<html>
  <head>
    <title>Información Paciente</title>
  </head>
    <body>
      <label class="title" >Información Paciente:</label>
      <div class="grid-layout">
            <br>
            <div class="form-col">
                <label for="patientCode">Código:</label>
                123567
                <label for="hist-pat"></label>
                <a href="https://www.openai.com">Visualizar historial</a><!--Cambiar link-->
                <label for="dni">DNI:</label>
                00000000-A
                <label for="cip">CIP:</label>
                LO MA 00000002
                <label for="name">Nombre:</label>
                Juan
                <label for="birth">F. Nacimiento:</label>
                12/03/1990
                <label for="lastname1">Apellido1:</label>
                Martínez
                <label for="lastname2">Apellido2:</label>
                López
                <label for="phone">Teléfono:</label>
                631238791
                <label for="email">E-mail:</label>
                <a href="mailto:julo90@gmail.com">julo90&#64;gmail.con</a>
                <label for="nationality">Nacionalidad:</label>
                España
                <label for="address">Dirección:</label>
                C. Fluvià 65, 4, 08002, Barcelona
            </div>
            <br>
            <div class="peu-form">
                <div class="eme-con">
                    <label for="emergencycontact">C. Emergencia:</label>
                </div>
                999999999
                <label for="gender">Sexo:</label>
                <div class="sexe">
                Masculino
                </div>
            </div>
        </div>
        <br><br>
        <div class="formButtons">
            <input class="submit" type="submit" value="EDITAR"/>
        </div>
    </body>
</html>
