<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sidebar Nav</title>
  <link rel="stylesheet" href="sidebar.component.css" />
</head>

<body class="sidebar" id="sidebarTS">
  <div appHasRole="sidebar_patients" class="columna">
    <label><b>Gestionar pacientes</b></label>
    <ul>
      <li appHasRole="create_patient">
        <a class="submit" type="button" routerLink="/home/patient/create">Crear</a>
      </li>
      <li appHasRole="search_patient">
        <a class="submit" type="button" routerLink="/home/patient/search">Buscar</a>
      </li>
    </ul>
  </div>
  <div appHasRole="sidebar_rooms" class="columna">
    <label><b>Gestionar habitaciones</b></label>
    <ul>
      <li appHasRole="create_room">
        <a class="submit" type="button" routerLink="/home/room/create">Crear</a>
      </li>
      <li appHasRole="search_room">
        <a class="submit" type="button" routerLink="/home/room/search">Buscar</a>
      </li>
    </ul>
  </div>
  <div appHasRole="sidebar_workers" class="columna">
    <label><b>Gestionar trabajadores</b></label>
    <ul>
      <li appHasRole="create_worker">
        <a class="submit" type="button" routerLink="/home/worker/create">Crear</a>
      </li>
      <li appHasRole="search_worker">
        <a class="submit" type="button" routerLink="/home/worker/search">Buscar</a>
      </li>
    </ul>
  </div>
</body>

</html>
