<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sidebar Nav</title>
        <link rel="stylesheet" href="sidebar.component.css">
    </head>
    <body class="sidebar">
        <label>Gestión de pacientes</label>
        <ul>
            <li><a class="submit" type="button" routerLink="/home/create-patient">Crear</a></li>
            <li><a class="submit" type="button" routerLink="/home/search-patient">Buscar</a></li>
        </ul>

        <label>Gestión de habitaciones</label>
        <ul>
            <li><a class="submit" type="button" routerLink="/home/search-room">Buscar</a></li>
            <!-- out of service(temporally)
            <li><a class="submit" type="submit" routerLink="/search-bed">Buscar Cama</a></li>-->
        </ul>
    </body>
</html>
